.userTable{
    width: 60%;
    background-color:mintcream;
    box-shadow: 2px 2px 8px hotpink;
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;

}

.addButton{
   text-decoration: none;
   background-color: rgb(226, 27, 226);
   color: white;
   font-weight: 500;
   box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
   border-radius: 5px;
   padding: 10px;
}

.userTable table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 100px;

}

.userTable table thead th{
    background-color:darkgoldenrod;
    color: white;
    padding: 10px;
}

.userTable table tbody td{
    padding: 10px;
    text-align: center;
}

.actionButtons button{
    border: 0;
    outline: none;
    background: rgba(255, 0, 0, 0.878);
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actionButtons a{
    background: rgb(5, 150, 5);
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
}